[core]
	editor   = code --wait --new-window
	pager    = less -F

[user]
	email    = jreslock@users.noreply.github.com
	name     = Jason Reslock

[color]
    ui       = auto

[push]
    default  = current

[alias]
    ignore   = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"

[fetch]
    prune    = true

[diff]
	tool     = vscode

[difftool "vscode"]
	cmd      = code --wait --diff $LOCAL $REMOTE

[merge]
	tool     = vscode

[mergetool "vscode"]
	cmd      = code --wait $MERGED

[credential]
	helper   = /usr/local/share/gcm-core/git-credential-manager
