[core]
        editor = code --wait

[commit]
        template = $HOME/.git-commit-template

[user]
        email = jreslock@gmail.com

[color]
        ui = auto

[credential]
        helper = !aws codecommit credential-helper $@
        UseHttpPath = true

[push]
        default = current

[alias]
        ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"

[fetch]
        prune = true

[diff]
    	tool = default-difftool

[difftool "default-difftool"]
    	cmd = code --wait --diff $LOCAL $REMOTE